.slide{
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.top{
  border-bottom-style:ridge;
  border-top-style:ridge;
  border-width: 30px;
  border-color: #F190F5;
  background-clip: padding-box;
}

.main_text {
    display:table;
    padding:20px;
    text-shadow: 2px 2px #FFFFFF;
    font-size:25px;
    margin:30px;
    background-color:#F9D1FB;
}
h1 {
 font-size:40px; 
 font-weight: bold;
}    
.main {
  text-align: center; 
  text-align:justify; 
  font-family: Annie Use Your Telescope; 
  color:#2D2D2D; 
  overflow-y: hidden; 
  border-style: dotted;
  border-width: 60px;
  border-color: #F190F5;
  background-clip: padding-box;
  
}    
    
.footer {
  text-align: center;
  font-size: 20px;
}
.footer_home {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

a:link {
  color: #F9D1FB;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color:#F9D1FB;
  background-color: transparent;
  text-decoration: none;
}
a:hover{
  color: #BC63C1;
  background-color: transparent;
  text-decoration: underline;
} 
a:active {
  color: #E07DE5 ;
  background-color: transparent;
  text-decoration: underline;
}  